#auth-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.navigate-link {
    color: gray;
    font-weight: bold;

}

.navigate-link:hover {
    color: lightgray;
    cursor: pointer;
}